<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>effect</key>
		<string>天気が『あられ』の時、ダメージを受けず、毎ターン終了時にHPが最大HPの1/16回復する。</string>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>アイスボディ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手に技のダメージを与えると、10%の確率でひるませる。／野生のポケモンと出会いにくくなる。</string>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>あくしゅう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『ほのお』『こおり』タイプの技を受けた時、ダメージが半減する。</string>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>あついしぼう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>技を出す順番が必ず一番最後になる。</string>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>あとだし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の攻撃がターンで一番最後の時、技の威力が1.3倍になる。</string>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>アナライズ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『のうりょく』ランクを変化させる技の効果が逆になる(1段階上がるものは1段階下がる)。</string>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>あまのじゃく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『あめ』の時毎ターン、HPが最大HPの1/16回復する。</string>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>あめうけざら</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出ると5ターンの間、天気が『あめ』になる。</string>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>あめふらし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手は逃げたり、ポケモンを交代することができなくなる。ただし、相手が『ひこう』タイプや『ゴースト』タイプ、特性『ふゆう』の場合は効果がない。／野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>ありじごく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分と味方へのメンタル攻撃技『アンコール』『いちゃもん』『かいふくふうじ』『かなしばり』『ちょうはつ』『メロメロ』を無効化する。</string>
		<key>id</key>
		<string>10</string>
		<key>name</key>
		<string>アロマベール</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出たときに相手の『こうげき』ランクを1段階下げる。／レベルの低い野生のポケモンと出会いにくくなる。</string>
		<key>id</key>
		<string>11</string>
		<key>name</key>
		<string>いかく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分への攻撃が急所に当たると、『こうげき』ランクが最大まで上がる。</string>
		<key>id</key>
		<string>12</string>
		<key>name</key>
		<string>いかりのつぼ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>がき』の反動は受ける。</string>
		<key>id</key>
		<string>13</string>
		<key>name</key>
		<string>いしあたま</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の使う変化技の優先度が1だけ加算される。優先度0の変化技も優先度+1として『すばやさ』に関係なく先制攻撃できる。</string>
		<key>id</key>
		<string>14</string>
		<key>name</key>
		<string>いたずらごころ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>毎ターン終了時、1/3の確率で自分以外の味方の状態異常が治る。</string>
		<key>id</key>
		<string>15</string>
		<key>name</key>
		<string>いやしのこころ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>手持ちの最後のポケモンの姿と名前で戦闘に出る。『タイプ』や『のうりょく』に変化はない。ダメージを受けると元に戻る。</string>
		<key>id</key>
		<string>16</string>
		<key>name</key>
		<string>イリュージョン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の技のタイプ相性が『こうかは いまひとつのようだ』の場合、1/2倍の時は通常に、1/4倍の時は1/2倍になる。</string>
		<key>id</key>
		<string>17</string>
		<key>name</key>
		<string>いろめがね</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『あめ』の時、ターン終了時に状態異常が回復する。</string>
		<key>id</key>
		<string>18</string>
		<key>name</key>
		<string>うるおいボディ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>全てのポケモンに対しての天気の影響がなくなる。</string>
		<key>id</key>
		<string>19</string>
		<key>name</key>
		<string>エアロック</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>お互いのポケモンの特性『フェアリーオーラ』『ダークオーラ』の効果において、威力が4/3倍ではなく3/4倍(0.75倍)になる。</string>
		<key>id</key>
		<string>20</string>
		<key>name</key>
		<string>オーラブレイク</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出てきた時、すべての相手の持っている道具の名前が分かる。</string>
		<key>id</key>
		<string>21</string>
		<key>name</key>
		<string>おみとおし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>同じ技を1ターンに2回攻撃できる。2回目の攻撃は、威力が半分になる。能力ランクを下げるなどの効果は2回分与えられる。1ターンに連続して攻撃する技や、複数の相手に攻撃する技の場合は2回攻撃できない</string>
		<key>id</key>
		<string>22</string>
		<key>name</key>
		<string>おやこあい</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>、特性『あめふらし』『ひでり』『すなおこし』『ゆきふらし』が発動しなくなる。</string>
		<key>id</key>
		<string>23</string>
		<key>name</key>
		<string>おわりのだいち</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『こうげき』ランクが下がらない。</string>
		<key>id</key>
		<string>24</string>
		<key>name</key>
		<string>かいりきバサミ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手は逃げたり、ポケモンを交代することができなくなる。お互いが特性『かげふみ』の場合は無効になる。『ゴースト』タイプには無効。</string>
		<key>id</key>
		<string>25</string>
		<key>name</key>
		<string>かげふみ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>毎ターン、『すばやさ』ランクが1段階ずつ上がる。</string>
		<key>id</key>
		<string>26</string>
		<key>name</key>
		<string>かそく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃する技の威力が1.3倍になる。</string>
		<key>id</key>
		<string>27</string>
		<key>name</key>
		<string>かたいツメ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の特性の影響を受けずに攻撃できる。ただし、攻撃後に受ける効果は消えない。</string>
		<key>id</key>
		<string>28</string>
		<key>name</key>
		<string>かたやぶり</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の技や特性で『のうりょく』ランクが下がると、『とくこう』ランクが2段階上がる。</string>
		<key>id</key>
		<string>29</string>
		<key>name</key>
		<string>かちき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分への攻撃は急所に当たらない。</string>
		<key>id</key>
		<string>30</string>
		<key>name</key>
		<string>カブトアーマー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>持っている道具がなくなると『すばやさ』が2倍になる。再び道具を持つと元に戻る。最初から道具を持っていない場合は効果がない。</string>
		<key>id</key>
		<string>31</string>
		<key>name</key>
		<string>かるわざ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出ると、相手のポケモンに変身し、『へんしん』状態になる。</string>
		<key>id</key>
		<string>32</string>
		<key>name</key>
		<string>かわりもの</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>時は毎ターンHPが最大HPの1/8回復する。</string>
		<key>id</key>
		<string>33</string>
		<key>name</key>
		<string>がんじょう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>が最大の時、『ひんし』状態になるダメージを受けても必ず1残る。また、一撃で『ひんし』になる技『じわれ』『ぜったいれいど』『つのドリル』『ハサミギロチン』を受けない。</string>
		<key>id</key>
		<string>34</string>
		<key>name</key>
		<string>がんじょうあご</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>あごやキバを使って攻撃する技『かみつく』『かみくだく』『ひっさつまえば』『ほのおのキバ』『かみなりのキバ』『こおりのキバ』『どくどくのキバ』の威力が1.5倍になる。</string>
		<key>id</key>
		<string>35</string>
		<key>name</key>
		<string>かんそうはだ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出てきた時、相手が『こうかは ばつぐん』や一撃必殺となる技を持っているかが分かる。技の名前などは分からない。</string>
		<key>id</key>
		<string>36</string>
		<key>name</key>
		<string>きけんよち</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手が『ゴースト』タイプでも、『ノーマル』『かくとう』タイプの技が等倍で当たる。</string>
		<key>id</key>
		<string>37</string>
		<key>name</key>
		<string>きもったま</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手を交代させる技『ふきとばし』『ほえる』『ドラゴンテール』の効果を受けない。／『てもち』の先頭にいると釣りが成功しやすくなる。</string>
		<key>id</key>
		<string>38</string>
		<key>name</key>
		<string>きゅうばん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>急所ランクが1段階上がった状態となり、自分の攻撃が急所に当たりやすくなる。</string>
		<key>id</key>
		<string>39</string>
		<key>name</key>
		<string>きょううん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>味方が道具を使ったり失った時、自分の持っている道具を味方に移動する。</string>
		<key>id</key>
		<string>40</string>
		<key>name</key>
		<string>きょうせい</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>すべての相手は『きのみ』を使用できなくなる。</string>
		<key>id</key>
		<string>41</string>
		<key>name</key>
		<string>きんちょうかん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>通常より早く、HPが最大HPの半分以下になると『きのみ』を使う。</string>
		<key>id</key>
		<string>42</string>
		<key>name</key>
		<string>くいしんぼう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>グラスフィールドの時、『ぼうぎょ』が1.5倍になる。</string>
		<key>id</key>
		<string>43</string>
		<key>name</key>
		<string>くさのけがわ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>物理技を受けると、『ぼうぎょ』ランクが1段階下がり、『すばやさ』ランクが1段階上がる。</string>
		<key>id</key>
		<string>44</string>
		<key>name</key>
		<string>くだけるよろい</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の『のうりょく』ランクを下げる技や特性の効果を受けない。</string>
		<key>id</key>
		<string>45</string>
		<key>name</key>
		<string>クリアボディ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>が1/3以下の時、『みず』タイプの技の威力が1.5倍になる。</string>
		<key>id</key>
		<string>46</string>
		<key>name</key>
		<string>げきりゅう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>状態異常の時、『こうげき』が1.5倍になる。またその時、『やけど』状態による『こうげき』半減の効果を受けない。</string>
		<key>id</key>
		<string>47</string>
		<key>name</key>
		<string>こんじょう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>他のポケモンに交代するとHPが最大HPの1/3回復する。</string>
		<key>id</key>
		<string>48</string>
		<key>name</key>
		<string>さいせいりょく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、相手のHPを相手の最大HPの1/8減らす。</string>
		<key>id</key>
		<string>49</string>
		<key>name</key>
		<string>さめはだ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『ひざしがつよい』の時、『とくこう』が1.5倍になるが、毎ターン終了時に最大HPの1/8のダメージを受ける。</string>
		<key>id</key>
		<string>50</string>
		<key>name</key>
		<string>サンパワー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分への攻撃は急所に当たらない。</string>
		<key>id</key>
		<string>51</string>
		<key>name</key>
		<string>シェルアーマー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>他のポケモンに交代すると異常状態が回復する。</string>
		<key>id</key>
		<string>52</string>
		<key>name</key>
		<string>じしんかじょう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>全てのポケモンは技『じばく』『だいばくはつ』及び、特性『ゆうばく』が無効になる。</string>
		<key>id</key>
		<string>53</string>
		<key>name</key>
		<string>しぜんかいふく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>ターン終了時、そのターン自分が使用した『きのみ』が50%の確率で元に戻る。天気が『ひざしがつよい』の時は100%の確率で元に戻る。</string>
		<key>id</key>
		<string>54</string>
		<key>name</key>
		<string>しめりけ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分と味方の技の命中率が上がる。</string>
		<key>id</key>
		<string>55</string>
		<key>name</key>
		<string>しゅうかく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の『のうりょく』ランクを下げる技や特性の効果を受けない。／野生のポケモンと出会いにくくなる。</string>
		<key>id</key>
		<string>56</string>
		<key>name</key>
		<string>じゅうなん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『どく』『まひ』『やけど』状態になった時、相手も同じ状態異常になる。／同じ『せいかく』の野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>57</string>
		<key>name</key>
		<string>しょうりのほし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>が1/3以下の時、『くさ』タイプの技の威力が1.5倍になる。</string>
		<key>id</key>
		<string>58</string>
		<key>name</key>
		<string>じりょく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の技で相手を倒すと、『こうげき』ランクが1段階上がる。</string>
		<key>id</key>
		<string>59</string>
		<key>name</key>
		<string>しろいけむり</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『まひ』状態にならない。</string>
		<key>id</key>
		<string>60</string>
		<key>name</key>
		<string>シンクロ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の『はがね』タイプのポケモンは逃げたり、ポケモンを交代することができなくなる。／『はがね』タイプの野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>61</string>
		<key>name</key>
		<string>しんりょく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分や味方のポケモンは『ねむり』状態にならない。</string>
		<key>id</key>
		<string>62</string>
		<key>name</key>
		<string>スイートベール</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『あめ』の時、『すばやさ』が2倍になる。</string>
		<key>id</key>
		<string>63</string>
		<key>name</key>
		<string>すいすい</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の『ノーマル』タイプの技が『ひこう』タイプになり、さらに威力が1.3倍になる。</string>
		<key>id</key>
		<string>64</string>
		<key>name</key>
		<string>スカイスキン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>〜5回連続で当たる技が必ず5回当たる。</string>
		<key>id</key>
		<string>65</string>
		<key>name</key>
		<string>スキルリンク</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>の威力が1.2倍になる。</string>
		<key>id</key>
		<string>66</string>
		<key>name</key>
		<string>すてみ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の攻撃が急所に当たると、ダメージが1.5倍ではなく2.25倍になる。</string>
		<key>id</key>
		<string>67</string>
		<key>name</key>
		<string>スナイパー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出ると5ターンの間、天気が『すなあらし』になる。</string>
		<key>id</key>
		<string>68</string>
		<key>name</key>
		<string>すなおこし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『すなあらし』の時、『すばやさ』が2倍になる。また、『すなあらし』によるダメージを受けない。</string>
		<key>id</key>
		<string>69</string>
		<key>name</key>
		<string>すなかき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『すなあらし』の時、回避率が上がる。また、『すなあらし』によるダメージを受けない。／フィールドの天気が『すなあらし』の時、野生のポケモンと出会いにくくなる。</string>
		<key>id</key>
		<string>70</string>
		<key>name</key>
		<string>すながくれ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『すなあらし』の時、自分の『じめん』『いわ』『はがね』タイプの技の威力が1.3倍になる。また、『すなあらし』によるダメージを受けない。</string>
		<key>id</key>
		<string>71</string>
		<key>name</key>
		<string>すなのちから</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の『リフレクター』『ひかりのかべ』『しろいきり』『しんぴのまもり』『みがわり』の効果を受けない。</string>
		<key>id</key>
		<string>72</string>
		<key>name</key>
		<string>すりぬけ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>命中率ランクが下がらない。相手の回避率ランクが上がっていても、影響を受けない。／レベルの低い野生のポケモンと出会いにくくなる。</string>
		<key>id</key>
		<string>73</string>
		<key>name</key>
		<string>するどいめ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出てから5ターンの間、『こうげき』『すばやさ』が半分になる。</string>
		<key>id</key>
		<string>74</string>
		<key>name</key>
		<string>スロースタート</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『あく』タイプの技を受けると、『こうげき』ランクが1段階上がる。</string>
		<key>id</key>
		<string>75</string>
		<key>name</key>
		<string>せいぎのこころ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の技で『ひるみ』状態にならない。技『きあいパンチ』には影響しない。</string>
		<key>id</key>
		<string>76</string>
		<key>name</key>
		<string>せいしんりょく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、30%の確率で相手を『まひ』状態にする。／『でんき』タイプの野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>77</string>
		<key>name</key>
		<string>せいでんき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『くさ』タイプの技を受けると技が無効化され、『こうげき』ランクが1段階上がる。</string>
		<key>id</key>
		<string>78</string>
		<key>name</key>
		<string>そうしょく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の特性の影響を受けずに攻撃できる。ただし、攻撃後に受ける効果は消えない。</string>
		<key>id</key>
		<string>79</string>
		<key>name</key>
		<string>ダークオーラ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『ほのお』タイプの技を受けた時と、『やけど』状態によるダメージが半減する。</string>
		<key>id</key>
		<string>80</string>
		<key>name</key>
		<string>ターボブレイズ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『のうりょく』ランクの変化が2倍になる。</string>
		<key>id</key>
		<string>81</string>
		<key>name</key>
		<string>たいねつ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>お互いのすべてのポケモンの『あく』タイプの技の威力が4/3倍(1.33倍)になる。</string>
		<key>id</key>
		<string>82</string>
		<key>name</key>
		<string>ダウンロード</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の『ぼうぎょ』が『とくぼう』より低い場合は『こうげき』ランクを、『とくぼう』の方が低い場合は『とくこう』ランクを1段階上げる。</string>
		<key>id</key>
		<string>83</string>
		<key>name</key>
		<string>だっぴ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>ターンごとに1/3の確率で状態異常が治る。</string>
		<key>id</key>
		<string>84</string>
		<key>name</key>
		<string>ダルマモード</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の残りHPが半分以下になるとフォルムチェンジする。回復して半分より多くなると元に戻る。</string>
		<key>id</key>
		<string>85</string>
		<key>name</key>
		<string>たんじゅん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>追加効果のある技を使うと、追加効果が発動しない代わりに威力が1.3倍になる。</string>
		<key>id</key>
		<string>86</string>
		<key>name</key>
		<string>ちからずく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の物理技の威力が2倍になる。</string>
		<key>id</key>
		<string>87</string>
		<key>name</key>
		<string>ちからもち</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『でんき』タイプの技を受けるとダメージや効果はなくなり、最大HPの1/4回復する。</string>
		<key>id</key>
		<string>88</string>
		<key>name</key>
		<string>ちくでん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『こんらん』状態の時、回避率が上がる。</string>
		<key>id</key>
		<string>89</string>
		<key>name</key>
		<string>ちどりあし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『みず』タイプの技を受けるとダメージや効果はなくなり、最大HPの1/4回復する。</string>
		<key>id</key>
		<string>90</string>
		<key>name</key>
		<string>ちょすい</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の『タイプ』と同じ『タイプ』の技のダメージが1.5倍ではなく2倍になる。</string>
		<key>id</key>
		<string>91</string>
		<key>name</key>
		<string>てきおうりょく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>威力が60以下の技の威力が1.5倍になる。威力の変動する技や、威力が修正された場合も影響する。</string>
		<key>id</key>
		<string>92</string>
		<key>name</key>
		<string>テクニシャン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>ンチ』『ほのおのパンチ』『マッハパンチ』『メガトンパンチ』『れいとうパンチ』『れんぞくパンチ』の威力が1.2倍になる。</string>
		<key>id</key>
		<string>93</string>
		<key>name</key>
		<string>てつのこぶし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、相手のHPを相手の最大HPの1/8減らす。</string>
		<key>id</key>
		<string>94</string>
		<key>name</key>
		<string>てつのトゲ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の特性の影響を受けずに攻撃できる。ただし、攻撃後に受ける効果は消えない。</string>
		<key>id</key>
		<string>95</string>
		<key>name</key>
		<string>テラボルテージ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>味方の技のダメージを受けない。</string>
		<key>id</key>
		<string>96</string>
		<key>name</key>
		<string>デルタストリーム</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『ひざしがつよい』の時は『ほのお』タイプに、『あめ』の時は『みず』タイプに、『あられ』の時は『こおり』タイプになり、姿がそれぞれ変化する。</string>
		<key>id</key>
		<string>97</string>
		<key>name</key>
		<string>テレパシー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の『のうりょく』ランクの変化の影響を受けない。</string>
		<key>id</key>
		<string>98</string>
		<key>name</key>
		<string>でんきエンジン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>技の追加効果の発生率が2倍になる。</string>
		<key>id</key>
		<string>99</string>
		<key>name</key>
		<string>てんきや</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>り、技『あまごい』『にほんばれ』『すなあらし』『あられ』が失敗し、特性『あめふらし』『ひでり』『すなおこし』『ゆきふらし』が発動しなくなる。</string>
		<key>id</key>
		<string>100</string>
		<key>name</key>
		<string>てんねん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『でんき』タイプの技を受けるとダメージや効果はなくなり、『すばやさ』ランクが1段階上がる。</string>
		<key>id</key>
		<string>101</string>
		<key>name</key>
		<string>てんのめぐみ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>性別が同じ相手に対しては『こうげき』『とくこう』が1.25倍になるが、異なる場合は0.75倍になる。性別のないポケモンの場合は効果がない。</string>
		<key>id</key>
		<string>102</string>
		<key>name</key>
		<string>とうそうしん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手と同じ特性になる。相手が2体いる場合はランダムにどちらかの特性が選ばれる。相手の特性が『てんきや』『トレース』『バトルスイッチ』の場合は効果がない。</string>
		<key>id</key>
		<string>103</string>
		<key>name</key>
		<string>どくしゅ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手に直接攻撃をすると、30%の確率で相手を『どく』状態にする。</string>
		<key>id</key>
		<string>104</string>
		<key>name</key>
		<string>どくのトゲ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、30%の確率で相手を『どく』状態にする。</string>
		<key>id</key>
		<string>105</string>
		<key>name</key>
		<string>どくぼうそう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『どく』『もうどく』状態の時、自分の物理技の威力が1.5倍になる。</string>
		<key>id</key>
		<string>106</string>
		<key>name</key>
		<string>トレース</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『メロメロ』『ちょうはつ』『ゆうわく』状態にならない。</string>
		<key>id</key>
		<string>107</string>
		<key>name</key>
		<string>どんかん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手が『ねむり』状態の時、HPを減らす。</string>
		<key>id</key>
		<string>108</string>
		<key>name</key>
		<string>ナイトメア</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>ターンおきにしか技が使えない。</string>
		<key>id</key>
		<string>109</string>
		<key>name</key>
		<string>なまけ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>野生のポケモンとの戦闘の場合、必ず逃げられる。</string>
		<key>id</key>
		<string>110</string>
		<key>name</key>
		<string>にげあし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、相手の『すばやさ』ランクを1段階下げる。</string>
		<key>id</key>
		<string>111</string>
		<key>name</key>
		<string>ぬめぬめ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『やけど』状態の時、自分の特殊技の威力が1.5倍になる。</string>
		<key>id</key>
		<string>112</string>
		<key>name</key>
		<string>ねつぼうそう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>持っている道具を相手に奪われない。／『てもち』の先頭にいると釣りが成功しやすくなる。</string>
		<key>id</key>
		<string>113</string>
		<key>name</key>
		<string>ねんちゃく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>お互いに技が命中率・回避率に関係なく必ず命中する。／野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>114</string>
		<key>name</key>
		<string>ノーガード</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>全てのポケモンに対しての天気の影響がなくなる。</string>
		<key>id</key>
		<string>115</string>
		<key>name</key>
		<string>ノーてんき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の全ての技が『ノーマル』タイプになる。</string>
		<key>id</key>
		<string>116</string>
		<key>name</key>
		<string>ノーマルスキン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手から攻撃技を受けた時、30%の確率で3ターンの間、その相手の技を『かなしばり』状態にする。</string>
		<key>id</key>
		<string>117</string>
		<key>name</key>
		<string>のろわれボディ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>タイプ相性が『こうかは ばつぐん』の技の受けるダメージが3/4になる。例えば、2倍弱点の場合は1.5倍のダメージになる。</string>
		<key>id</key>
		<string>118</string>
		<key>name</key>
		<string>ハードロック</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>』『ひでり』『すなおこし』『ゆきふらし』が発動しなくなる。</string>
		<key>id</key>
		<string>119</string>
		<key>name</key>
		<string>はじまりのうみ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>／野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>120</string>
		<key>name</key>
		<string>はっこう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の『ぼうぎょ』ランクを下げる技や特性の効果を受けない。</string>
		<key>id</key>
		<string>121</string>
		<key>name</key>
		<string>はとむね</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>状態異常の時、『すばやさ』が1.5倍になる。／野生のポケモンと出会いにくくなる。</string>
		<key>id</key>
		<string>122</string>
		<key>name</key>
		<string>バトルスイッチ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『ねむり』状態の時、ねむり状態のターン経過が2倍になり、通常より早く回復する。</string>
		<key>id</key>
		<string>123</string>
		<key>name</key>
		<string>はやあし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>優先度0の『ひこう』タイプの技を『すばやさ』に関係なく先制攻撃できる。(優先度:+1)</string>
		<key>id</key>
		<string>124</string>
		<key>name</key>
		<string>はやおき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『こうげき』が1.5倍になるが、物理攻撃の命中率が0.8倍になる。／レベルの高い野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>125</string>
		<key>name</key>
		<string>はやてのつばさ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>攻撃技を使用する場合ブレードフォルムになり(攻撃・特攻が高い)、技『キングシールド』を使用するとシールドフォルムになる(防御・特防が高い)。</string>
		<key>id</key>
		<string>126</string>
		<key>name</key>
		<string>はりきり</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出ると5ターンの間、天気が『ひざしがつよい』になる。</string>
		<key>id</key>
		<string>127</string>
		<key>name</key>
		<string>ひでり</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『でんき』タイプの技を受けるとダメージが無効化され、逆に『とくこう』ランクが1段階上がる。またダブルバトル・トリプルバトルの時、自分以外の全てのポケモンの『でんき』タイプの技の攻撃対象が自分になる。</string>
		<key>id</key>
		<string>128</string>
		<key>name</key>
		<string>びびり</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『ゴースト』『むし』『あく』タイプの技を受けた時、『すばやさ』ランクが1段階上がる。</string>
		<key>id</key>
		<string>129</string>
		<key>name</key>
		<string>ひらいしん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>物理攻撃の受けるダメージが半減する。</string>
		<key>id</key>
		<string>130</string>
		<key>name</key>
		<string>ファーコート</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>タイプ相性が『こうかは ばつぐん』の技の受けるダメージが3/4になる。例えば、2倍弱点の場合は1.5倍のダメージになる。</string>
		<key>id</key>
		<string>131</string>
		<key>name</key>
		<string>フィルター</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>お互いのすべてのポケモンの『フェアリー』タイプの技の威力が4/3倍(1.33倍)になる。</string>
		<key>id</key>
		<string>132</string>
		<key>name</key>
		<string>フェアリーオーラ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の『ノーマル』タイプの技が『フェアリー』タイプになり、さらに威力が1.3倍になる。</string>
		<key>id</key>
		<string>133</string>
		<key>name</key>
		<string>フェアリースキン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>命中率が1.3倍になる。／『てもち』の先頭にいると道具を持った野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>134</string>
		<key>name</key>
		<string>ぶきよう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の技でひるむと、『すばやさ』ランクが1段階上がる。</string>
		<key>id</key>
		<string>135</string>
		<key>name</key>
		<string>ふくがん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>状態異常の時、『ぼうぎょ』が1.5倍になる。</string>
		<key>id</key>
		<string>136</string>
		<key>name</key>
		<string>ふくつのこころ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>タイプ相性が『こうかは ばつぐん』でない技のダメージを受けない。ただし、タイプ相性に関係のない技は影響しない。</string>
		<key>id</key>
		<string>137</string>
		<key>name</key>
		<string>ふしぎなうろこ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『ねむり』状態にならない。技『ねむる』を使えない。</string>
		<key>id</key>
		<string>138</string>
		<key>name</key>
		<string>ふしぎなまもり</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『じめん』タイプの技を受けない。</string>
		<key>id</key>
		<string>139</string>
		<key>name</key>
		<string>ふみん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『ひざしがつよい』の時、すべての味方の『こうげき』『とくぼう』が1.5倍になる。</string>
		<key>id</key>
		<string>140</string>
		<key>name</key>
		<string>ふゆう</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>味方すべての『くさ』タイプのポケモンは、味方自身以外の技や特性によって『のうりょく』ランクを下げられず、状態異常にもならない。</string>
		<key>id</key>
		<string>141</string>
		<key>name</key>
		<string>プラス</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の『ノーマル』タイプの技が『こおり』タイプになり、さらに威力が1.3倍になる。</string>
		<key>id</key>
		<string>142</string>
		<key>name</key>
		<string>フラワーギフト</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分以外の味方が受けるダメージが3/4に軽減される。(ダブルバトル・トリプルバトル用)</string>
		<key>id</key>
		<string>143</string>
		<key>name</key>
		<string>フラワーベール</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>持っている道具の効果が発揮されない。</string>
		<key>id</key>
		<string>144</string>
		<key>name</key>
		<string>フリーズスキン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>特性『プラス』か『マイナス』のポケモンが戦闘にいると『とくこう』が1.5倍になる。</string>
		<key>id</key>
		<string>145</string>
		<key>name</key>
		<string>プレッシャー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>技を受けた時、技のPPを2減らす。／レベルの高い野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>146</string>
		<key>name</key>
		<string>フレンドガード</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>を吸い取る技『きゅうけつ』『ギガドレイン』『すいとる』『ドレインキッス』『ドレインパンチ』『メガドレイン』『やどりぎのタネ』を受けた時、逆に相手にダメージを与える。</string>
		<key>id</key>
		<string>147</string>
		<key>name</key>
		<string>ヘヴィメタル</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の技を出すタイミングで、自分のタイプが技と同じタイプになる。</string>
		<key>id</key>
		<string>148</string>
		<key>name</key>
		<string>ヘドロえき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>技を受けると、その技のタイプになる。</string>
		<key>id</key>
		<string>149</string>
		<key>name</key>
		<string>へんげんじざい</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の『おもさ』が2倍になる。(技『ヘビーボンバー』などで有効)</string>
		<key>id</key>
		<string>150</string>
		<key>name</key>
		<string>へんしょく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、30%の確率で相手を『どく』『まひ』『ねむり』状態のいずれかにする。</string>
		<key>id</key>
		<string>151</string>
		<key>name</key>
		<string>ポイズンヒール</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の持っている『きのみ』を食べる時、本来の効果に加えて、さらにHPも最大HPの1/3回復する。</string>
		<key>id</key>
		<string>152</string>
		<key>name</key>
		<string>ぼうおん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、30%の確率で相手を『やけど』状態にする。／『てもち』にいると、ポケモンのタマゴが2倍かえりやすくなる。</string>
		<key>id</key>
		<string>153</string>
		<key>name</key>
		<string>ほうし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>』『なきごえ』『バークアウト』『ハイパーボイス』『ばくおんぱ』『ほえる』『ほろびのうた』『むしのさざめき』『りんしょう』を受けない。</string>
		<key>id</key>
		<string>154</string>
		<key>name</key>
		<string>ぼうじん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気『あられ』『すなあらし』によるダメージを受けない。粉系の技『いかりのこな』『キノコのほうし』『しびれごな』『どくのこな』『ねむりごな』『ふんじん』『わたほうし』、特性『ほうし』の効果を受けない。</string>
		<key>id</key>
		<string>155</string>
		<key>name</key>
		<string>ぼうだん</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>ネばくだん』『タネマシンガン』『タマゴばくだん』『たまなげ』『でんじほう』『どろばくだん』『はどうだん』『ヘドロばくだん』『マグネットボム』『ミストボール』を無効化する。</string>
		<key>id</key>
		<string>156</string>
		<key>name</key>
		<string>ほおぶくろ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『どく』状態の時毎ターン、HPが減らずに最大HPの1/8だけ回復する。『もうどく』状態でも回復量は変わらない。</string>
		<key>id</key>
		<string>157</string>
		<key>name</key>
		<string>ほのおのからだ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>特性『プラス』か『マイナス』のポケモンが戦闘にいると『とくこう』が1.5倍になる。</string>
		<key>id</key>
		<string>158</string>
		<key>name</key>
		<string>マイナス</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『こんらん』状態にならない。</string>
		<key>id</key>
		<string>159</string>
		<key>name</key>
		<string>マイペース</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『こおり』状態にならない。／『てもち』にいると、ポケモンのタマゴが2倍かえりやすくなる。</string>
		<key>id</key>
		<string>160</string>
		<key>name</key>
		<string>マグマのよろい</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の技や特性で『のうりょく』ランクが下がった時、自分の『こうげき』ランクが2段階上がる。</string>
		<key>id</key>
		<string>161</string>
		<key>name</key>
		<string>まけんき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の攻撃時、技を当てた相手が持っている道具を奪う。</string>
		<key>id</key>
		<string>162</string>
		<key>name</key>
		<string>マジシャン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>く』『だいばくはつ』『わるあがき』などには影響しない。</string>
		<key>id</key>
		<string>163</string>
		<key>name</key>
		<string>マジックガード</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>技『マジックコート』で跳ね返すことのできる技を跳ね返せる。</string>
		<key>id</key>
		<string>164</string>
		<key>name</key>
		<string>マジックミラー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の残りHPが最大値の時、受けるダメージが半減される。</string>
		<key>id</key>
		<string>165</string>
		<key>name</key>
		<string>マルチスケイル</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>持っている『プレート』に対応して『タイプ』が変化する。</string>
		<key>id</key>
		<string>166</string>
		<key>name</key>
		<string>マルチタイプ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、相手の特性を『ミイラ』にする(相手の本来の特性を無効化する)。</string>
		<key>id</key>
		<string>167</string>
		<key>name</key>
		<string>ミイラ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『やけど』状態にならない。</string>
		<key>id</key>
		<string>168</string>
		<key>name</key>
		<string>みずのベール</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>／道具を持っていない時、戦闘後にどうぐ『あまいミツ』を拾ってくることがある。戦闘に参加しなくてもよい。レベルが高い程、拾ってくる確率が上がる。</string>
		<key>id</key>
		<string>169</string>
		<key>name</key>
		<string>みつあつめ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の変化技の命中する確率が50%より大きい場合、命中率が50%になる。</string>
		<key>id</key>
		<string>170</string>
		<key>name</key>
		<string>ミラクルスキン</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>が1/3以下の時、『むし』タイプの技の威力が1.5倍になる。</string>
		<key>id</key>
		<string>171</string>
		<key>name</key>
		<string>むしのしらせ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>ターン終了時、いずれかの『のうりょく』ランクが2段階上がり、別の『のうりょく』ランクが1段階下がる。</string>
		<key>id</key>
		<string>172</string>
		<key>name</key>
		<string>ムラっけ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>波動系の技『あくのはどう』『はどうだん』『みずのはどう』『りゅうのはどう』の技の威力が1.5倍になり、『いやしのはどう』は最大HPの3/4回復する。</string>
		<key>id</key>
		<string>173</string>
		<key>name</key>
		<string>メガランチャー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>直接攻撃を受けると、30%の確率で相手を『メロメロ』状態にする。性別が同じ場合や、性別不明の場合は効果がない。／異なる性別の野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>174</string>
		<key>name</key>
		<string>メロメロボディ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『どく』状態にならない。</string>
		<key>id</key>
		<string>175</string>
		<key>name</key>
		<string>めんえき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>が1/3以下の時、『ほのお』タイプの技の威力が1.5倍になる。</string>
		<key>id</key>
		<string>176</string>
		<key>name</key>
		<string>もうか</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>レベルに応じて拾ってくる道具が変化する。</string>
		<key>id</key>
		<string>177</string>
		<key>name</key>
		<string>ものひろい</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『ほのお』タイプの技のダメージや効果を受けず、以後自分の『ほのお』タイプの技の威力が1.5倍になる。</string>
		<key>id</key>
		<string>178</string>
		<key>name</key>
		<string>もらいび</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『ねむり』状態にならない。技『ねむる』を使えない。／レベルの高い野生のポケモンと出会いやすくなる。</string>
		<key>id</key>
		<string>179</string>
		<key>name</key>
		<string>やるき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>相手の直接攻撃で『ひんし』になった時、相手に相手の最大HPの1/4のダメージを与える。</string>
		<key>id</key>
		<string>180</string>
		<key>name</key>
		<string>ゆうばく</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『あられ』の時、相手の技の命中率が0.8倍になる。また、『あられ』によるダメージを受けない。／フィールドの天気が『あられ』の時、野生のポケモンと出会いにくくなる。</string>
		<key>id</key>
		<string>181</string>
		<key>name</key>
		<string>ゆきがくれ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出ると5ターンの間、天気が『あられ』になる。</string>
		<key>id</key>
		<string>182</string>
		<key>name</key>
		<string>ゆきふらし</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『ひざしがつよい』の時、『すばやさ』が2倍になる。</string>
		<key>id</key>
		<string>183</string>
		<key>name</key>
		<string>ようりょくそ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の物理技の威力が2倍になる。</string>
		<key>id</key>
		<string>184</string>
		<key>name</key>
		<string>ヨガパワー</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>戦闘に出ると相手の覚えている技のうち、最も威力の高い技の名前が分かる。同じ威力の技がある場合はランダム。</string>
		<key>id</key>
		<string>185</string>
		<key>name</key>
		<string>よちむ</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>『みず』タイプの技を受けるとダメージが無効化され、逆に『とくこう』ランクが1段階上がる。またダブルバトル・トリプルバトルの時、自分以外の全てのポケモンの『みず』タイプの技の攻撃対象が自分になる。</string>
		<key>id</key>
		<string>186</string>
		<key>name</key>
		<string>よびみず</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分のHPが半分以下になると、『こうげき』『とくこう』が半減する。</string>
		<key>id</key>
		<string>187</string>
		<key>name</key>
		<string>よわき</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>自分の『おもさ』が半分になる。(技『けたぐり』『くさむすび』対策などで有効)</string>
		<key>id</key>
		<string>188</string>
		<key>name</key>
		<string>ライトメタル</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>天気が『ひざしがつよい』の時、状態異常にならない。</string>
		<key>id</key>
		<string>189</string>
		<key>name</key>
		<string>リーフガード</string>
	</dict>
	<dict>
		<key>effect</key>
		<string>技の追加効果を受けない。</string>
		<key>id</key>
		<string>190</string>
		<key>name</key>
		<string>りんぷん</string>
	</dict>
</array>
</plist>
